{% extends 'site/partials/base.html.twig' %}

{% block title %}Accueil - Ecommerce{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
{% endblock %}

{% block body %}
    <section class="container mt-5 mb-5">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <div class="case">
                            <h1 class="case-title">Catégories</h1>
                            {% for categorie in categories %}
                                <a href="{{ path('products_category',{'slug': categorie.slug}) }}">
                                    {{ categorie.name }}
                                </a> <br>
                            {% endfor %}
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">Nos derniers produits</h1>
                        <div class="blocks display-flex owl-carousel">
                            {% set index = 0 %}
                            {% for latestProduct in latestProducts %}
                                <div class="block card">
                                    <div class="card-img">
                                        {% if latestProduct.productImage is not null %}
                                            <img class="card-img-top"
                                                 src="{{ vich_uploader_asset(latestProduct.productImage, 'imageFile') }}"
                                                 alt="Image du produit">
                                        {% else %}
                                            <img class="card-img-top" src="{{ asset('assets/produits/default.png') }}" alt="image par défaut pour un produit">
                                        {% endif %}
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">{{ latestProduct.name }}</h4>
                                        <p class="card-text text-center">
                                            {% if latestProduct.promo is not null %}
                                                <del>
                                                    {{ latestProduct.price|number_format(2, ',') }} €
                                                </del>
                                                <br> <br>
                                                <span class="price-color">
                                            {# calcul pour appliquer le pourcentage de reduction#}
                                                    {% set pourcentPromo = latestProduct.price - (latestProduct.price*latestProduct.promo.percent/100) %}
                                                    {{ pourcentPromo|number_format(2, ',') }} €
                                        </span>
                                            {% else %}
                                                <span class="price-color">
                                            {{ latestProduct.price }} €
                                        </span>
                                            {% endif %}
                                        </p>
                                        <p class="card-text text-justify">{{ latestProduct.excerpt }}</p>
                                        <div class="text-center">
                                            <a href="{{ path('single-product', {'slug': latestProduct.slug}) }}"
                                               class="btn btn-color">En savoir plus</a>
                                        </div>
                                    </div>
                                </div>
                                {% set index = index + 1 %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <div class="filters text-center">
                    <h1>grille des produits</h1>

                    <ul>
                        <!-- For filtering controls add -->
                        <li data-filter="all" class="btn btn-color"> Tous </li>
                        <li data-filter="1" class="btn btn-color"> Livres </li>
                        <li data-filter="2" class="btn btn-color"> Films </li>
                        <li data-filter="3" class="btn btn-color"> Jeux </li>
                        <!-- For a shuffle control add -->
                        {#                    <li data-shuffle> Shuffle items </li>#}
                        <!-- For sorting controls add -->
                        {#                    <li data-sortAsc> Ascending </li>#}
                        {#                    <li data-sortDesc> Descending </li>#}
                    </ul>
                    <!-- To choose the value by which you want to sort add -->
                    {#                <select data-sortOrder>#}
                    {#                    <option value="index"> Position </option>#}
                    {#                    <option value="sortData"> Custom Data </option>#}
                    {#                </select>#}
                    <!-- To create a search control -->
                    <input class="form-control" type="text" name="filtr-search" value="" placeholder="Rechercher un produit..." data-search="">
                </div>
                <div class="filter-container">
                    {% for product in products %}
                    <div class="filtr-item" data-category="{{ product.category.id }}" data-sort="value">
                        <div class="card">
                            <div class="card-img">
                                {% if product.productImage is not null %}
                                    <img class="card-img-top"
                                         src="{{ vich_uploader_asset(product.productImage, 'imageFile') }}"
                                         alt="Image du produit">
                                {% else %}
                                    <img class="card-img-top" src="{{ asset('assets/produits/default.png') }}" alt="image par défaut pour un produit">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h4 class="card-title text-center">{{ product.name }}</h4>
                                <p class="card-text text-center">
                                    {{ product.excerpt }}
                                </p>
                                <p class="card-text text-center">
                                    {% if product.promo is not null %}
                                        <del>
                                            {{ product.price|number_format(2, ',') }} €
                                        </del>
                                        <br> <br>
                                        <span>
                                            {# calcul pour appliquer le pourcentage de reduction#}
                                            {% set pourcentPromo = product.price - (product.price*product.promo.percent/100) %}
                                            {{ pourcentPromo|number_format(2, ',') }} €
                                        </span>
                                    {% else %}
                                        <span>
                                            {{ product.price }} €
                                        </span>
                                    {% endif %}
                                </p>
                                <div class="text-center">
                                    <a href="{{ path('single-product', {'slug': product.slug}) }}"
                                       class="btn btn-color">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>le blog</h1>
                <p>les 3 derniers articles sur une ligne</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{{ asset('js/filterizr-jquery.js') }}"></script>
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
