{% extends 'site/partials/base.html.twig' %}

{% block title %}Catégorie {{ slug }} - Ecommerce{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/swiper.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ slug }}</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-12">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for slideProduct in slideProducts|slice(0,3) %}
                        <div class="swiper-slide">
                            <div class="card card-swiper-hover">
                                {% if slideProduct.productImage is not null %}
                                    <img class="card-img-swip img-swip-contain"
                                         src="{{ vich_uploader_asset(slideProduct.productImage, 'imageFile') }}"
                                         alt="Image du produit">
                                {% else %}
                                    <img class="card-img-swip img-swip-contain"
                                         src="{{ asset('assets/produits/default.png') }}"
                                         alt="image par défaut pour un produit">
                                {% endif %}
                                <div class="card-body card-style text-center">
                                    <div class="card-txt black-txt">
                                        <h1 class="card-title hr">{{ slideProduct.name }}</h1>
                                        <p class="card-text text-justify">
                                            {{ slideProduct.description }}
                                        </p>
                                        <a href="{{ path('single-product', {'slug': slideProduct.slug}) }}"
                                           class="button btn-white a-width">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {#<div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>#}
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 text-center mt-5 mb-5">
                <h1>Les produits de la catégorie {{ slug }}</h1>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-3">
                <div class="card category-product mb-3">
                    <div class="card-img">
                        {% if product.productImage is not null %}
                            <img class="card-img-top"
                                 src="{{ vich_uploader_asset(product.productImage, 'imageFile') }}"
                                 alt="Image du produit">
                        {% else %}
                            <img class="card-img-top" src="{{ asset('assets/produits/default.png') }}" alt="image par défaut pour un produit">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center">{{ product.name }}</h4>
                        <p class="card-price text-center">{{ product.price }} €</p>
                        <p class="card-text text-justify">
                            {{ product.excerpt }}
                        </p>
                        <div class="text-center">
                            <a href="{{ path('single-product', {'slug': product.slug}) }}"
                               class="btn btn-color">En savoir plus</a>
                        </div>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 nav-pagination">
                {{ knp_pagination_render(products) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/swiper.min.js') }}"></script>
    <script>
        //changer le rotate et le depth pour donner un effet de profondeur différent
        let swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            initialSlide: 0,
            grabCursor: true,
            loop: true,
            clickable: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            autoplay: {
                delay: 10000,
                disableOnInteraction: true,
            },
            coverflowEffect: {
                rotate: 30,
                stretch: 0,
                depth: 500,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
                renderBullet: function (index, className) {
                    return '<span class="' + className + '">' + (index + 1) + '</span>';
                },
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        })
    </script>
{% endblock %}
