<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Facture</title>
    <style>
        h1 {
            position:absolute;
            color:#0088cc;
            font-size:50px;
        }

        .center {
            text-align:center;
        }

        .color {
            color:#0088cc;
        }

        .strong {
            font-weight:bold;
        }
        .min {
            font-size:10px;
        }

        img {
            position:absolute;
            top:80px;
            left:30px;
        }

        ul#coordonnes {
            float:left;
            margin-top:30px;
            margin-left:400px;
            list-style:none;
        }

        ul#coordonnes li {
            height:20px;
        }

        table#enTete {
            position:absolute;
            top:5px;
            right:330px;
            text-align:center;
        }

        table#enTete h1 {
            color:#0088cc;
            font-weight:bold;
            font-size:20px;
        }

        table#entity {
            float:left;
            margin-top:30px;
            text-align:center;
        }

        table#entity td {
            height:45px;
            border-bottom:1px solid #0088cc;
        }

        /*.vignette-product{*/
        /*    width: 150px;*/
        /*    height: 150px;*/
        /*}*/

        table#total {
            float:right;
            margin-top: 12px;
            margin-left:495px;
            border: 1px solid #0088cc;
        }

        table#total td {
            height:20px;
        }

        #footer {
            position:absolute;
            bottom:0px;width:100%;
            text-align:center;
            line-height:25px;
        }
    </style>
</head>
<body>
{#    <page>#}
        <page_header>
            <h1>My Entreprise</h1>
        </page_header>
        <table id="enTete">
            <tr>
                <td colspan="1"></td>
                <td colspan="1"><h1>Facture</h1></td>
                <td colspan="1"></td>
            </tr>
            <tr>
                <td width="80">Page</td>
                <td width="100">Date</td>
                <td width="120">Ref</td>
            </tr>
            <tr>
                <td class="color">[[page_nb]]</td>
                <td class="color">{{ invoice.commandAt|date('d-m-Y') }}</td>
                <td class="color">{{ invoice.reference }}</td>
            </tr>
        </table>
        <ul id="coordonnes">
            <li>{{ invoice.user.lastname|capitalize }} {{ invoice.user.firstname|capitalize }}</li>
            <li>{{ invoice.billingAddress.address}}</li>
            <li>{{ invoice.billingAddress.cp }} {{ invoice.billingAddress.town|capitalize }} - {{ invoice.billingAddress.country|capitalize }}</li>
        </ul>
        <table id="entity">
            <tr>
                <td width="240">DESIGNATION</td>
                <td width="75">QUANTITE</td>
                <td width="90">P.U - HT</td>
                <td width="105">MONTANT HT</td>
                <td width="85">TAUX TVA</td>
                <td width="105">MONTANT TTC</td>
            </tr>
            {% for product in invoice.products.product %}
                {% set montantTVA = product.priceTTC - product.priceHT %}
                {% set tauxTVA = (100 * montantTVA)/(product.priceTTC - montantTVA) %}
                <tr>
                    <td class="color">{{ product.reference }}</td>
                    <td class="color">{{ product.quantity }}</td>
                    <td class="color">{{ product.priceHT }} €</td>
                    <td class="color">{{ product.priceHT * product.quantity }} €</td>
                    <td class="color">{{ tauxTVA|number_format(0) }} %</td>
                    <td class="color">{{ product.priceTTC * product.quantity }} €</td>
                </tr>
            {% endfor %}
        </table>
        <table id="total">
            <tr>
                <td width="110">TOTAL HT :</td>
                <td width="100" class="color">{{ invoice.products.amount.totalHT }} €</td>
            </tr>
                <tr>
                    <td width="110">TVA :</td>
                    {% set priceTVA = invoice.products.amount.totalTTC|number_format(2) - invoice.products.amount.totalHT|number_format(2) %}
                    <td width="100" class="color"> {{ priceTVA|number_format(2) }} €</td>
                </tr>
            <tr>
                <td width="110">TOTAL TTC :</td>
                <td width="100" class="color">{{ invoice.products.amount.totalTTC}} €</td>
            </tr>
        </table>
        <page_footer>
            <span class="color strong">fgjisfj street</span>
            <span>[[page_cu]]/[[page_nb]]</span>
        </page_footer>
{#        <div id="footer">#}
{#            <span class="color strong">fgjisfj street</span>#}
{#        #}{#    <span class="color strong">{{ adresse }}</span>#}
{#            <br />#}
{#        #}{#    {{ telephone }}#}
{#        </div>#}
{#    </page>#}
</body>
</html>
