<div class="container">
    <div class="row">
        <div class="col-12 cart-head">
            <h2>Votre panier</h2>
            <span>Prix</span>
        </div>
    </div>
    <hr class="top">
    {% if items | length > 0 %}
        {% for item in items %}
            <div class="row" id="rm-{{ item.product.slug }}">
                <div class="col-xs-12 col-md-3 text-center">
                    <img class="vignette-cart" src="{{ vich_uploader_asset(item.product.productImage, 'imageFile') }}" alt="">
                </div>
                <div class="col-xs-12 col-md-7">
                    <h2 id="product-name">{{ item.product.name }}</h2>
                    <small>Il ne reste plus que {{ item.product.quantity }} exemplaire(s) en stock.</small>

                    <div class="actions">
                        <select name="{{ item.product.name }}" class="select-quantities">
                            {% if item.product.quantity < 10 %}
                                {% for i in 0..item.product.quantity %}
                                    <option value="{{ i }}"{% if item.quantity == i %} selected="selected"{% endif %}>Qté: {{ i }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="1"{% if item.quantity == 1 %} selected="selected"{% endif %}>Qté: 1</option>
                                <option value="2"{% if item.quantity == 2 %} selected="selected"{% endif %}>Qté: 2</option>
                                <option value="3"{% if item.quantity == 3 %} selected="selected"{% endif %}>Qté: 3</option>
                                <option value="4"{% if item.quantity == 4 %} selected="selected"{% endif %}>Qté: 4</option>
                                <option value="5"{% if item.quantity == 5 %} selected="selected"{% endif %}>Qté: 5</option>
                                <option value="6"{% if item.quantity == 6 %} selected="selected"{% endif %}>Qté: 6</option>
                                <option value="7"{% if item.quantity == 7 %} selected="selected"{% endif %}>Qté: 7</option>
                                <option value="8"{% if item.quantity == 8 %} selected="selected"{% endif %}>Qté: 8</option>
                                <option value="9"{% if item.quantity == 9 %} selected="selected"{% endif %}>Qté: 9</option>
                                <option value="10"{% if item.quantity == 10 %} selected="selected"{% endif %}>Qté: 10</option>
                            {% endif %}
                        </select>
                        <a id="{{ item.product.slug }}" class="delete" onclick="return false" href="#">Supprimer</a> |
                        <a href="{{ path('single-product', {'slug': item.product.slug}) }}">Voir le produit</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-2 price-flex">
                    {% if item.product.promo is not null %}
                        <del>
                            {{ item.product.price|number_format(2, ',') }} €
                        </del>
                        <span>
                            {% set pourcentPromo = item.product.price - (item.product.price*item.product.promo.percent/100) %}
                            {{ pourcentPromo|number_format(2, ',') }} €
                        </span>
                    {% else %}
                        <span>
                            {{ item.product.price }} €
                        </span>
                    {% endif %}
                </div>
                {% if loop.last == false %}
                    <div class="col-12">
                        <hr class="hr-product">
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div id="rm-price" class="row">
            <div class="col-12">
                <hr class="top">
            </div>
            <div class="col-12 total-flex">
                <span id="total">Total ({{ quantityProducts }} article{% if quantityProducts > 1 %}s{% endif %}): {{ total }} €</span>
            </div>
            <div class="col-12 text-center">
                <a href="{{ path('validation') }}" class="btn btn-color">Passer la commande</a>
            </div>
        </div>
        <p id="empty-cart">Votre panier est vide</p>
    {% else %}
        <div class="row">
            <p>Votre panier est vide</p>
        </div>
    {% endif %}
</div>
