{% extends 'admin/partials/base.html.twig' %}
{% block title %}Editer une promotion{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h1 class="text-center">Modifications de la promotion</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 mb-5">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.percent) }}
                {{ form_row(form.activated) }}
                {{ form_row(form.code) }}
                <button type="submit" class="btn btn-color">Confirmer les modifications sur cette promotion</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
