{% extends 'admin/partials/base.html.twig' %}
{% block title %}Créer un nouveau Produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h1 class="text-center">Créer un nouveau Produit</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 mb-5">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.productImage) }}
                {{ form_row(form.description) }}
                {{ form_row(form.excerpt) }}
                {{ form_row(form.price) }}
                {{ form_row(form.category) }}
                {{ form_row(form.dispo) }}
                {{ form_row(form.quantity) }}
                {{ form_row(form.tva) }}
                <button type="submit" class="btn btn-color mt-3">Enregistrer le nouveau produit</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('admin/js/filetype-field.js') }}"></script>
{% endblock %}
