{% if app.user is not null and is_granted('ROLE_ADMIN') %}
    {% set current = app.request.attributes.get("_route") %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ path('admin_dashboard') }}">Logo du site</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link{% if current == 'admin_dashboard' %} active{% endif %}" href="{{ path('admin_dashboard') }}">Administration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if current == 'dashboard-products' %} active{% endif %}" href="{{ path('dashboard-products') }}">Produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if current == 'dashboard-categories' %} active{% endif %}" href="{{ path('dashboard-categories') }}">Catégories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if current == 'dashboard-tva' %} active{% endif %}" href="{{ path('dashboard-tva') }}">TVA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if current == 'dashboard-promos' %} active{% endif %}" href="{{ path('dashboard-promos') }}">Promotions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if current == 'dashboard-commands' %} active{% endif %}" href="{{ path('dashboard-commands') }}">Commandes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if current == 'dashboard-commands' %} active{% endif %}" href="{{ path('dashboard-invoices') }}">Factures</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link{% if current == 'admin_profil' or current == 'adminProfil_password' %} active{% endif %} dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                            {#                                <img src="{% if app.user.avatarurl is null %}{{ asset('avatars/user-default-64px.png') }}#}
                            {#                        {% else %}{{ asset('avatars/' ~ app.user.avatarurl) }}{% endif %}" alt="Avatar de {{ app.user.username }}" class="avatar-mini rounded-circle">#}
                            {{ app.user.firstname }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                            <a href="{{ path('admin_profil') }}" class="dropdown-item">Modifier mon profil</a>
                            <a href="{{ path('adminProfil_password') }}" class="dropdown-item">Modifier mon mot de passe</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('admin_deconnexion') }}" class="dropdown-item">Se déconnecter</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% else %}
    <div class="header-admin pb-5">
        <div class="container text-center">
            <a class="brand" href="accueil">Logo du site</a>
            <h1 class="text-white mt-3">Connexion à l'administration</h1>
        </div>
    </div>
{% endif %}
{% for label, messages in app.flashes %}
    <div class="container text-center pt-5">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
