{% extends 'admin/partials/base.html.twig' %}
{% block title %}Archives des commandes{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-5 mb-3">
            <div class="col-12 mb-5 text-center">
                <h1 class="text-center mt-5 mb-2">Liste des commandes archivées</h1>
                <a href="{{ path('dashboard-commands') }}" class="btn btn-color">Commandes en cours</a>
            </div>
            <div class="col-12 mt-5 mb-5">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Validation de la commande</th>
                        <th>Paiement de la commande</th>
                        <th>Date de la commande</th>
                        <th>Référence</th>
                        <th>Produits dans la commande</th>
                        <th>Client</th>
                        <th>Adresse de livraison</th>
                        <th>Adresse de facturation</th>
                        <th>Commande envoyée</th>
                        <th>Date de l'envoi de la commande</th>
                        <th>Promo</th>
                        <th>Montant total</th>
                        <th>Supprimer la commande</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if commands is not empty %}
                        {% for command in commands %}
                            <tr>
                                <td>
                                    {% if command.validate == true %}
                                        Commande validée
                                    {% else %}
                                        Commande non-validée
                                    {% endif %}
                                </td>
                                <td>
                                    {% if command.paid == true %}
                                        Commande payée
                                    {% else %}
                                        Commande non-payée
                                    {% endif %}
                                </td>
                                <td>{{ command.commandAt|date('d-m-Y H:m') }}</td>
                                <td>{{ command.reference }}</td>
                                <td>
                                    {% for product in command.products.product %}
                                        {{ product.reference }} <br>
                                        Qté: {{ product.quantity }} <br>
                                        <hr>
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ command.user.firstname|capitalize }}
                                    {{ command.user.lastname|capitalize }}
                                </td>
                                <td>
                                    {{ command.userAddress.address }} <br>
                                    {{ command.userAddress.cp }} {{ command.userAddress.town|capitalize }}, {{ command.userAddress.country|capitalize }}
                                </td>
                                <td>
                                    {{ command.billingAddress.address }} <br>
                                    {{ command.billingAddress.cp }} {{ command.billingAddress.town|capitalize }}, {{ command.billingAddress.country|capitalize }}
                                </td>
                                <td>
                                    {% if command.sent == true %}
                                        Commande envoyée
                                    {% else %}
                                        Commande non-envoyée
                                    {% endif %}
                                </td>
                                <td>
                                    {% if command.sentAt is not null %}
                                        {{ command.sentAt|date('d-m-Y H:m') }}
                                    {% else %}
                                        Commande non-envoyée
                                    {% endif %}
                                </td>
                                <td>
                                    {% if command.promo is not null %}
                                        {{ command.promo.name }}
                                    {% else %}
                                        Aucunes promotions sur l'ensemble du panier
                                    {% endif %}
                                </td>
                                <td>
                                    {{ command.totalAmount }}€
                                </td>
                                <td>
                                    <form action="{{ path('command_delete', {'reference': command.reference}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer cette commande ?')">
                                        <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="13">Il n'y a pas encore de commandes archivées.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 nav-pagination">
                {{ knp_pagination_render(commands) }}
            </div>
        </div>
    </div>
{% endblock %}
