{% extends 'admin/partials/base.html.twig' %}
{% block title %}Créer un article pour le blog{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5">Créer un nouvel article</h1>
        <div class="row">
            <div class="col-12 mt-5 mb-5">
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.imageFile) }}
                {{ form_row(form.content) }}
                {{ form_row(form.excerpt) }}
                {{ form_row(form.category) }}
                {{ form_row(form.refDescription) }}
                <button type="submit" class="btn btn-color">Enregistrer le nouvel article</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
