{% extends 'site/partials/base.html.twig' %}

{% block title %}Validation - Ecommerce{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/validation.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-1">
                        <span>1</span>
                    </div>
                    <div class="col-3">
                        Adresse de livraison:
                    </div>
                    <div class="col-6">
                        <p>{{ deliveryAddress.address }}, {{ deliveryAddress.town|capitalize }} {{ deliveryAddress.cp }}</p>
                        <p>
                            {% if deliveryAddress.complement is not empty %}
                                {{ deliveryAddress.complement }}
                            {% else %}
                                Vous n'avez mis aucunes instructions pour cette adresse.
                            {% endif %}
                        </p>
{#                        <a href="" class="">#}
{#                            ajouter des instructions à la livraison#}
{#                        </a>#}
                    </div>
                    <div class="col-2">
                        <a href="" class="btn btn-color">Modifier</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-1">
                        <span>2</span>
                    </div>
                    <div class="col-3">
                        Adresse de facturation:
                    </div>
                    <div class="col-6">
                        <p>{{ billingAddress.address }}, {{ billingAddress.town|capitalize }} {{ billingAddress.cp }}</p>
                        <p>
                            {% if billingAddress.complement is not empty %}
                                {{ billingAddress.complement }}
                            {% else %}
                                Vous n'avez mis aucunes instructions pour cette adresse.
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-2">
                        <a href="" class="btn btn-color">Modifier</a>
                    </div>
                </div>
                <hr>
                {#<div class="row">
                    <div class="col-1">
                        <span>2</span>
                    </div>
                    <div class="col-3">
                        Méthode de paiement
                    </div>
                    <div class="col-6">
                        <p>afficher la méthode de paiement choisie par l'utilisateur</p>
                        <a href="" class="">
                            Adresse de facturation:
                        </a>
                        <p>afficher l'adresse de facturation</p>
                    </div>
                    <div class="col-2">
                        <a href="" class="btn btn-color">Modifier</a>
                    </div>
                </div>
                <hr>#}
                <div class="row mt-5 mb-5">
                    <div class="col-1">
                        <span>3</span>
                    </div>
                    <div class="col-11">
                        Vérification et validation de la commande
                    </div>
                </div>
                {% for item in items %}
                    <div class="row">
                        <div class="col-xs-12 col-md-3 text-center">
                            <img class="thumb" src="{{ vich_uploader_asset(item.product.productImage, 'imageFile') }}" alt="image du produit {{ item.product.name }}">
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <h2 id="product-name">{{ item.product.name }}</h2>

                            <div class="actions">
                                <p>Quantité: {{ item.quantity }} | Il reste {{ item.product.quantity }} produits en stock.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 price-flex">
                            {% if (item.product.tva is not null) and (item.product.tva.multiplicate > 0) %}
                                {% set price = item.product.price + ((item.product.price*item.product.tva.multiplicate)/100) %}
                            {% else %}
                                {% set price = item.product.price|number_format(2, ',') %}
                            {% endif %}
                            {% if item.product.promo is not null %}
                                <del>
                                    {{ price|number_format(2, ',') }} €
                                </del>
                                <span>
                                    {% set pourcentPromo = price - (price*item.product.promo.percent/100) %}
                                    {{ pourcentPromo|number_format(2, ',') }} €
                                </span>
                            {% else %}
                                <span>
                                    {{ price|number_format(2, ',') }} €
                                </span>
                            {% endif %}
                        </div>
                        {% if loop.last == false %}
                            <div class="col-12">
                                <hr class="hr-product">
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <hr>
                <div class="row">
                    <div class="col-12 text-right">
                        <span>Total ({{ quantityProducts }} article{% if quantityProducts > 1 %}s{% endif %}): {{ total }} €</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mt-5 mb-3">
                        <a href="#" class="card-link btn btn-color">Acheter</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center">
                        <a href="#" class="card-link btn btn-color">Acheter</a>
                        <p class="card-text mt-2">
                            Vous devez accepter nos conditions générales de vente.
                            Mettre lien pour les conditions génerales de vente.
                        </p>
                        <hr>
                        <h6 class="card-subtitle">Récapitulatif de votre commande</h6>
                        <span>Articles: </span> <span>prix des articles</span>
                        <br>
                        <span>Livraison: </span> <span>prix de la livraison</span>
                        <hr>
                        <span>Montant total: </span> <span>{{ total }} €</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
